@import 'abstracts/variables';
@import 'abstracts/mixins';

.header {
  height: 50px;
  background: rgb(120, 201, 206);
  background-image: linear-gradient(156.79deg, #2DA1AD 0%, #4AC3CF 100%);
  border-bottom: 7px solid rgba(255, 255, 255, 0.20000000298023224);
  display: flex;
  justify-content: center;

  @include query(sm) {
    height: 60px;
  }

  &__logo-image {
    max-width: 148px;
    margin-top: 4px;

    @include query(sm) {
      max-width: 178px;
    }
  }
}
