<div class="contact-list">

  <!-- Contact list: header -->
  <header class="contact-list__header">
    <app-contact-navigation></app-contact-navigation>
  </header>

  <!-- Contact list: body -->
  <div class="contact-list__body">

    <!-- Contact list: filter input -->
    <div class="contact-list__input">
      <div class="input__wrapper-icon">
        <input type="text" [formControl]="filterInput" class="input input--search">
      </div>
    </div>

    <!-- Contact list: items -->
    <div class="container">
    <div class="contact-list__items">
      <a [routerLink]="['add', 0]" class="contact-list__button">
        <span class="icon-plus"></span>
        <span>Add new</span>
      </a>

      <app-contact-item class="contact-item__wrapper" *ngFor="let user of userList | filter: filterInput.value"
        [user]="user" (click)="showUser(user.id)" (favoriteUser)="favoriteUser($event)" (deleteUser)="onUserDelete($event)">
      </app-contact-item>
    </div>
  </div>
  </div>
</div>

<app-modal id="delete-modal">
  <h1 class="modal-title">Delete</h1>
  <p class="modal-text">Are you sure you want to delete this contact?</p>
  <div class="modal-buttons">
    <button (click)="closeModal('delete-modal');" class="button button--secondary">Cancel</button>
    <button (click)="deleteUser(userMarkedForDelete); closeModal('delete-modal');" class="button button--primary">Delete</button>
  </div>
</app-modal>
