@import "abstracts/variables";
@import "abstracts/mixins";

.contact-list {
  &__header {
    padding-left: 27px;
    padding-right: 28px;
  }

  &__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;

    @include query(md) {
      flex-direction: row;
      padding-left: 0;
      padding-right: 0;
    }

    & .contact-item__wrapper,
    & .contact-list__button {
      margin-bottom: 10px;
      width: 100%;
      margin-right: 30px;

      @include query(md) {
        margin-bottom: 30px;
      }

      @include query(md) {
        width: calc(25% - 22.5px);
      }

      &:nth-of-type(3) {
        margin-right: 0;
      }

      &:nth-of-type(4n + 7) {
        @include query(md) {
          margin-right: 0;
        }
      }
    }
  }

  &__input {
    margin: 23px auto 25px;

    @include query(md) {
      margin: 58px auto 60px;
    }
  }

  &__button {
    width: 100%;
    border: 1px solid rgba(187, 196, 195, 0.4);
    border-radius: 4px;
    background-color: $color-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 60px;
    cursor: pointer;
    position: relative;
    width: 100%;
    border: 1px dashed $color-primary;
    opacity: 0.5;
    color: $color-primary;
    padding-left: 23px;
    text-decoration: none;

    @include transition();

    &:hover {
      opacity: 1;
      border: 1px solid $color-primary;
    }

    & .icon-plus {
      margin-right: 18px;
      font-size: 18px;

      @include query(sm) {
        margin-right: 0;
        margin-bottom: 11px;
      }
    }

    @include query(md) {
      padding-top: 26px;
      padding-bottom: 23px;
      padding-left: 0;
      min-height: 152px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
