// COLORS
$color-primary: #2DA1AD;

$color-primary-light: #78C9CE;

$color-primary-dark: #2496A2;
$color-primary-dark-2: #27919D;

$color-error: #ff4940;

$color-light: #f7f8fb;

$color-grey: #EAEAEA;
$color-grey-1: #E3E3E3;
$color-grey-2: #BBC4C3;
$color-grey-4: #ADB8B6;
$color-grey-5: #dcdcdc;

$color-dark: #333;

$color-white: #fff;
$color-black: #000;

// FONTS
$font-family-base: 'Lato', sans-serif;

// FONT SIZING
$nav-link: (14px, 17px, 700) !default;
$nav-link-desktop: (18px, 22px, 700) !default;

$icon-text: (14px, 17px, 400) !default;

$input-text: (14px, 17px, 400) !default;

$contact-title: (18px, 22px, 700) !default;

$contact-title-mobile: (14px, 17px, 700) !default;

$user-title-mobile: (21px, 28px, 700) !default;
$user-title: (28px, 34px, 700) !default;
$user-text-mobile: (16px, 19px, 400) !default;
$user-text-desktop: (14px, 17px, 400) !default;

$modal-title: (16px, 19px, 700) !default;
$modal-text: (16px, 28px, 400) !default;

// CONTAINER WIDTHS
$nav-width: 1260px;
$container-width: 1170px;

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);
