*,
*::before,
*::after {
  box-sizing: border-box;
}

html {

}

body {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333;

  @include query(sm) {
    font-size: 16px;
    line-height: 24px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
}
