.input {
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 30px;
  border: 1px solid rgba(187,196,195,0.4);
  color: $color-grey-4;
  border-radius: 4px;

  @include query(sm) {
    height: 60px;
    max-width: 300px;
  }

  @include placeholder() {
    color: $color-grey-4;
  }

  &--search {
    margin: 0 auto;
    max-width: unset;
    padding-left: 50px;
    box-shadow: 0 2px 34px 0 $color-grey-1;
  }

  &__wrapper-icon {
    max-width: 540px;
    margin: 0 auto;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;

    @include query(sm) {
      padding-left: 0;
      padding-right: 0;
    }

    &:before {
      font-family: "icomoon";
      content: "\e909";
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 48px;
      font-size: 18px;
      line-height: 18px;
      color: $color-grey-2;
      display: inline-flex;
      align-items: center;

      @include query(sm) {
        left: 23px;
      }
    }
  }

  &.ng-invalid:not(.ng-pristine) {
    border: 1px solid $color-error;
    color: $color-error;
    margin-bottom: 3px;

    @include placeholder() {
      color: $color-error;
    }

    & + .alert {
      color: $color-error;
    }
  }
}
