.container {
  max-width: $container-width;
  margin: 0 auto;
}

.push-left {
  margin-left: auto;
}

.push-right {
  margin-right: auto;
}

.show-mobile {
  @include query(sm) {
    display: none !important;
  }
}

.hide-mobile {
  @include query-max(sm) {
    display: none !important;
  }
}

.link-unstyled {
  text-decoration: none;
  outline: none;
}

.no-border {
  border: none !important;
}

.alert {
  color: $color-error;
}
