@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?ukcn45") format("truetype"),
    url("../fonts/icomoon.woff?ukcn45") format("woff"),
    url("../fonts/icomoon.svg?ukcn45#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e90b";
}
.icon-arrow-back:before {
  content: "\e900";
  color: #bbc4c3;
}
.icon-delete:before {
  content: "\e901";
  color: #bbc4c3;
}
.icon-edit:before {
  content: "\e902";
  color: #bbc4c3;
}
.icon-email:before {
  content: "\e903";
  color: #2da1ad;
}
.icon-heart-empty:before {
  content: "\e904";
  color: #bbc4c3;
}
.icon-heart-full:before {
  content: "\e905";
  color: #bbc4c3;
}
.icon-person:before {
  content: "\e906";
  color: #2da1ad;
}
.icon-phone:before {
  content: "\e907";
  color: #2da1ad;
}
.icon-plus:before {
  content: "\e908";
  color: #2da1ad;
}
.icon-search:before {
  content: "\e909";
  color: #bbc4c3;
}
.icon-upload:before {
  content: "\e90a";
  color: #fff;
}

.icon-circled {
  width: 32px;
  height: 32px;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-grey-2;
  color: $color-grey-2;
  border-radius: 50%;

  &--grey {
    color: $color-grey-2;
    border-color: $color-grey-2;
  }

  &--primary {
    color: $color-primary;
    border-color: $color-primary;
  }
}

.icon__button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  & .text {
    @include font-size($icon-text...);

    display: inline-block;
    margin-right: 15px;
    color: $color-grey-2;
  }
}

