@import 'abstracts/variables';
@import 'abstracts/mixins';

.navigation {
  text-align: center;
  margin: 16px auto 0;
  border-bottom: 1px solid $color-primary;
  padding-bottom: 17px;

  @include query(md) {
    margin: 55px auto 0;
    padding-bottom: 48px;
    max-width: 1260px;
  }

  &__link {
    @include font-size($nav-link...);

    color: $color-grey-2;
    padding-right: 40px;
    cursor: pointer;
    text-decoration: none;

    @include query(md) {
      @include font-size($nav-link-desktop...);

      padding-right: 28px;
    }

    @include transition(color, 300ms, ease);

    &:not(:first-of-type) {
      border-left: 1px solid $color-grey-2;
      padding-left: 40px;

      @include query(md) {
        padding-left: 28px;
      }
    }

    &:last-of-type {
      padding-right: 0;
    }

    &--active,
    &:hover {
      color: $color-primary;
    }
  }
}
