<nav class="navigation">
  <a routerLink="/contacts" class="navigation__link" routerLinkActive="navigation__link--active">All contacts</a>
  <a routerLink="/favorites" class="navigation__link" routerLinkActive="navigation__link--active">My favorites</a>
</nav>
