<section class="user-info">
  <div class="user-info__wrapper">

    <!-- USER INFO - Mobile actions -->
    <div class="user-info__mobile-actions">
      <a href="" class="back-link">
        <span class="icon-arrow-back"></span>
      </a>
      <div class="user-info__actions">
        <span class="user-info__favorite" (click)="favoriteUser(user)">
          <span class="icon-heart-empty" *ngIf="!user.favorite"></span>
          <span class="icon-heart-full" *ngIf="user.favorite"></span>
        </span>

        <a class="icon-edit" [routerLink]="['/', 'contacts', 'edit', user.id]"></a>
      </div>
    </div>

    <!-- USER INFO - Content container -->
    <div class="user-info__container">

      <!-- USER INFO - User avatar -->
      <div class="user-info__image-wrapper user-info__image-wrapper--profile">
        <img [src]="user.avatar" class="user-info__image" alt="" />
      </div>

      <div class="user-info__content">

        <!-- USER INFO - Desktop actions / user header -->
        <div class="user-info__header">
          <a href="" class="user-info__return">
            <span class="icon-arrow-back"></span>
          </a>
          <h2 class="user-info__title">{{user.name}}</h2>

          <div class="user-info__actions hide-mobile">
            <span class="user-info__favorite" (click)="favoriteUser(user)">
              <span class="icon-heart-empty" *ngIf="!user.favorite"></span>
              <span class="icon-heart-full" *ngIf="user.favorite"></span>
            </span>
            <a class="icon-edit" [routerLink]="['/', 'contacts', 'edit', user.id]"></a>
          </div>
        </div>

        <!-- USER INFO - User data -->
        <div class="user-info__data">
          <div class="user-info__contact">
            <div class="user-info__label">
              <span class="user-info__label-icon icon-email"></span>
              <span class="user-info__label-text">email</span>
            </div>

            <p class="user-info__text">{{user.contactInfo.email}}</p>
          </div>

          <div class="user-info__contact">
            <div class="user-info__label">
              <span class="user-info__label-icon icon-phone"></span>
              <span class="user-info__label-text">numbers</span>
            </div>
            <div class="user-info__row-wrapper">
              <div class="user-info__contact-row" *ngFor="let number of user.contactInfo.number">
                <p class="user-info__text">{{number.title}}</p>
                <a href="tel:{{number.number}}" class="user-info__link">{{number.number}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
