$avatar-size: 156px;
$avatar-size-desktop: 186px;

.avatar {
  display: inline-flex;
  max-width: 100%;
  width: $avatar-size;
  height: $avatar-size;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;

  @include query(sm) {
    width: $avatar-size-desktop;
    height: $avatar-size-desktop;
    margin-right: 28px;
  }

  &__image {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    border: 3px solid rgba(187,196,195,0.3);

    @include query(sm) {
      width: $avatar-size-desktop;
      height: $avatar-size-desktop;
    }
  }

  &__remove {
    display: flex;
    position: absolute;
    height: $avatar-size;
    width: $avatar-size;
    border: 3px solid rgba(187,196,195,0.3);
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include query(sm) {
      width: $avatar-size-desktop;
      height: $avatar-size-desktop;
    }

    &.icon-close:before {
      color: $color-white;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: $avatar-size;
    width: $avatar-size;
    border: 3px solid rgba(187,196,195,0.3);
    background-color: rgba(45,161,173,0.4);
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    @include query(sm) {
      width: $avatar-size-desktop;
      height: $avatar-size-desktop;
    }

    & .icon-upload {
      @include query(sm) {
        font-size: 22px;
      }
    }
  }

  &__input {
    display: none;
  }
}
