.button {
  @include font-size($nav-link...);

  font-family: $font-family-base;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  min-height: 42px;
  color: $color-white;
  background: none;
  text-decoration: none;
  border: none;
  border-radius: 100px;

  @include transition();

  &--primary {
    background-color: $color-primary;

    &:hover {
      background-color: lighten($color-primary, 10%);
    }
  }

  &--secondary {
    background-color: $color-grey-2;

    &:hover {
      background-color: darken($color-grey-2, 10%);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &[disabled] {
    opacity: 0.5;
  }
}

button {
  p {
    @include font-size($input-text...);
  }
}
