/* MODAL STYLES
-------------------------------*/
app-modal {
  /* modals are hidden by default */
  display: none;

  .modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: $color-grey-4;
    display: flex;
    justify-content: center;
    align-items: center;

    /* z-index must be higher than .modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;

    .modal-body {
      background: $color-white;
      box-shadow: 0 0 14px 0 rgba(99, 109, 255, 0.27);
      border-radius: 4px;
      margin: 28px;
      padding-bottom: 30px;

      @include query(md) {
        width: 480px;
      }
    }

    h1,
    .modal-title {
      @include font-size($modal-title...);

      padding: 20px 30px;
      border-bottom: 1px solid $color-grey-5;

      & + p,
      & + .modal-content {
        margin-top: 30px;
      }
    }

    p,
    .modal-content {
      @include font-size($modal-text...);

      text-align: center;
      padding: 0px 30px;
    }

    .modal-buttons {
      text-align: center;
      display: flex;
      flex-direction: column;
      max-width: 160px;
      margin: 50px auto 0;

      @include query(md) {
        flex-direction: row;
        justify-content: space-between;
        max-width: unset;
        padding-left: 30px;
        padding-right: 30px;
      }

      .button {
        &:first-of-type {
          @include query-max(md) {
            order: 2;
            margin-top: 18px;
          }
        }

        &:last-of-type {
          @include query-max(md) {
            order: 1;
          }

          @include query(md) {
          }
        }
      }
    }
  }

  .modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.4;

    /* z-index must be below .modal and above everything else  */
    z-index: 900;
  }
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
