.user-info {
  @include query(sm) {
    margin-top: 56px;
    margin-bottom: 78px;
  }

  &__container {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px 30px;

    @include query(sm) {
      flex-direction: row;
      padding: 0;
    }
  }

  &__title {
    @include font-size($user-title-mobile...);

    padding-top: 10px;
    padding-bottom: 34px;
    padding-left: 80px;
    color: $color-grey-4;

    @include query(sm) {
      @include font-size($user-title...);

      padding: 0;
    }
  }

  &__return {
    display: none;

    @include query(sm) {
      display: inline-flex;
      align-items: center;
      margin-right: 20px;
    }
  }

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @include query(sm) {
      align-items: flex-start;
    }

    &--profile {
      max-width: 56px;
      max-height: 56px;
      margin-right: 30px;
      position: absolute;
      top: 20px;
      left: 30px;

      @include query(sm) {
        position: relative;
        top: unset;
        left: unset;
        max-width: 182px;
        max-height: 182px;
      }
    }
  }

  &__image {
    max-width: 100%;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid rgba(187,196,195,0.3);

    @include query(sm) {
      width: 182px;
      height: 182px;
    }
  }

  &__header {
    display: flex;
    border-bottom: 1px solid $color-primary;
    padding-bottom: 5px;

    @include query(sm) {
      padding: 30px 0 27px;
    }

    & a {
      @extend .link-unstyled;
    }
  }

  &__delete {
    display: inline-flex;
    align-items: center;
  }

  &__content {
    flex-grow: 1;
  }

  &__data {
    padding-left: 20px;
    padding-right: 20px;
    margin: 23px auto 0;

    @include query(sm) {
      max-width: 350px;
      margin: 64px 30px 0 68px;
      padding: 0;
    }
  }

  &__label {
    @include font-size($user-text-mobile...);

    color: $color-primary-dark-2;
    display: block;

    &-text {
      font-weight: bold;

      @include query(sm) {
        min-width: 90px;
        display: inline-block;
      }
    }

    &-icon {
      min-width: 25px;
      display: inline-block;
      font-size: 10px;

      @include query(sm) {
        min-width: 30px;
      }
    }

    & .icon-phone {
      font-size: 14px;
    }

    & .icon-person {
      font-size: 14px;
    }
  }

  &__mobile-actions {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(187, 196, 195, 0.4);
    padding: 15px 30px 10px;
    font-size: 16px;

    @include query(sm) {
      display: none;
    }

    & a {
      @extend .link-unstyled;
    }

    & .back-link {
      font-size: 13px;
    }

    & .user-info__favorite {
      margin-right: 34px;
    }
  }

  &__actions {
    @include query(sm) {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    & .user-info__favorite {
      margin-right: 44px;
    }
  }

  &__text {
    padding-top: 16px;
    padding-left: 25px;

    @include query(sm) {
      padding: 0;
    }
  }

  &__link {
    color: inherit;
    padding-top: 16px;

    @include query(sm) {
      padding: 0;
    }
  }

  &__row-wrapper {
    @include query(sm) {
      flex-grow: 1;
    }
  }

  &__contact {
    @include font-size($user-text-mobile...);

    color: $color-grey-4;

    @include query(sm) {
      display: flex;
    }

    & + & {
      margin-top: 50px;

      @include query(sm) {
        margin-top: 72px;
      }
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .user-info__text {
        text-transform: uppercase;

        @include query(sm) {
          @include font-size($user-text-desktop...);
        }
      }

      & + & {
        margin-top: 20px;

        @include query(sm) {
          margin-top: 42px;
        }
      }
    }
  }

  &__field {
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid $color-primary;
    padding-bottom: 26px;
    width: 100%;

    &--extra {
      display: flex;
      align-items: center;
      //max-width: 300px;
      margin-top: 0;
      border: none;
      padding-bottom: 0;
    }

    & input {
      margin-top: 15px;
    }
  }

  &__row {
    @include query(sm) {
      display: flex;
    }
  }

  &__remove-row {
    border: none;
    padding: 0;
    background: none;
    margin-left: 18px;
    margin-top: 14px;

    @include query(sm) {
      margin-left: 30px;
    }

    & .icon-close {
      color: $color-grey-2;
      font-size: 8px;

      @include transition();
    }

    &:hover {
      color: darken($color-grey-2, 10%);

      & .icon-circled {
        transform: rotate(180deg) scale(1.2);
        color: darken($color-grey-2, 10%);
        border-color: darken($color-grey-2, 10%);
      }
    }
  }

  &__add-row {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    margin: 40px 0 0;
    padding: 0;
    color: $color-primary;

    & .icon-circled {
      margin-right: 15px;
      font-size: 8px;

      @include transition();
    }

    &:hover {
      color: lighten($color-primary, 10%);

      & .icon-circled {
        transform: rotate(180deg) scale(1.2);
        color: lighten($color-primary, 10%);
        border-color: lighten($color-primary, 10%);
      }
    }
  }

  &__footer {
    margin-top: 68px;

    & .button {
      min-width: 140px;

      @include query(sm) {
        min-width: 160px;
      }
    }
  }
}
