<section class="user-info">
  <div class="user-info__wrapper">

    <!-- USER INFO - Mobile actions -->
    <div class="user-info__mobile-actions">
      <a href="" class="back-link">
        <span class="icon-arrow-back"></span>
      </a>
      <div class="user-info__actions">
        <span *ngIf="action === 'edit'" (click)="openModal('delete-modal', $event)">
          <span class="icon-delete"></span>
        </span>
      </div>
    </div>

    <!-- USER INFO - Content container -->
    <div class="user-info__container">

      <!-- USER INFO - User avatar -->
      <div class="user-info__image-wrapper user-info__image-wrapper--upload">
        <div class="avatar" *ngIf="user?.avatar">
          <img [src]="user.avatar" class="avatar__image" alt="" />
          <span class="icon-close avatar__remove" (click)="removeImage()"></span>
        </div>

        <!-- USER INFO - User avatar - upload -->
        <div class="avatar avatar--upload" *ngIf="!user?.avatar">
          <label class="avatar__label" for="image-upload" *ngIf="!isImageSaved;">
            <span class="icon-upload"></span>
          </label>
          <input type="file" name="image-upload" id="image-upload" (change)="fileChangeEvent($event)"
            class="avatar__input">
          <ng-container *ngIf="isImageSaved;">
            <img [src]="cardImageBase64" class="avatar__image" />
            <span class="icon-close avatar__remove" (click)="removeImage()"></span>
          </ng-container>
        </div>
      </div>

      <div class="user-info__content">

        <!-- USER INFO - Desktop actions / user header -->
        <div class="user-info__header">
          <a href="" class="user-info__return">
            <span class="icon-arrow-back"></span>
          </a>

          <div class="user-info__actions hide-mobile">
            <span *ngIf="action === 'edit'" (click)="openModal('delete-modal', $event)" class="icon__button">
              <span class="text">Delete</span>
              <span class="icon-delete"></span>
            </span>
          </div>
        </div>

        <!-- USER INFO - Add / Edit form -->
        <form [formGroup]="userForm">

          <!-- USER INFO - Name field -->
          <label class="user-info__field">
            <div class="user-info__label">
              <span class="user-info__label-icon icon-person"></span>
              <span class="user-info__label-text">full name </span>
            </div>
            <input type="text" formControlName="name" class="input" placeholder="Full name">
            <div
              *ngIf="userForm.controls['name'].invalid && (userForm.controls['name'].dirty || userForm.controls['name'].touched)"
              class="alert">
              <div *ngIf="userForm.controls['name'].errors.required">
                Potrebno je upisati ime.
              </div>
              <div *ngIf="userForm.controls['name'].errors.minlength">
                Ime mora sadržavati najmanje 3 znaka.
              </div>
            </div>
          </label>

          <!-- USER INFO - Email field -->
          <label class="user-info__field">
            <div class="user-info__label">
              <span class="user-info__label-icon icon-email"></span>
              <span class="user-info__label-text">email</span>
            </div>
            <input type="text" formControlName="email" class="input" placeholder="Email">

            <div
              *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)"
              class="alert">
              <div *ngIf="userForm.controls['email'].errors.required">
                Potrebno je upisati email.
              </div>
              <div *ngIf="userForm.controls['email'].errors.email">
                Email mora biti upisan u pravilnom formatu.
              </div>
            </div>
          </label>

          <!-- USER INFO - Phone numbers -->
          <label class="user-info__field no-border">
            <div class="user-info__label">
              <span class="user-info__label-icon icon-phone"></span>
              <span class="user-info__label-text">numbers</span>
            </div>
          </label>
          <div formArrayName="phoneNumbers"
            *ngFor="let item of userForm.get('phoneNumbers')['controls']; let i = index;">
            <div [formGroupName]="i" class="user-info__row">
              <label class="user-info__field user-info__field--extra">
                <input formControlName="title" placeholder="Label" class="input">
              </label>
              <label class="user-info__field user-info__field--extra">
                <input formControlName="number" placeholder="Number" class="input">
                <button (click)="removeItemFromFormArray(i)" class="user-info__remove-row">
                  <span class="icon-close icon-circled icon-circled--grey"></span>
                </button>
              </label>
            </div>

            <div
              *ngIf="item.get('title').invalid && (item.get('title').dirty || item.get('title').touched)"
              class="alert">
              <div *ngIf="item.get('title').errors.required">
                Potrebno je upisati oznaku.
              </div>
              <div *ngIf="item.get('title').errors.minlength">
                Oznaka mora sadržavati minimalno 3 znaka.
              </div>
            </div>

            <div
              *ngIf="item.get('number').invalid && (item.get('number').dirty || item.get('number').touched)"
              class="alert">
              <div *ngIf="item.get('number').errors.required">
                Potrebno je upisati broj.
              </div>
              <div *ngIf="item.get('number').errors.minlength">
                Broj mora sadržavati minimalno 3 znaka.
              </div>
            </div>
          </div>

          <div>
            <button (click)="addItemToFormArray({title: '',number: ''})" class="user-info__add-row">
              <span class="icon-plus icon-circled icon-circled--primary"></span>
              <p>Add number</p>
            </button>
          </div>

          <div class="user-info__footer">
            <div class="button__wrapper">
              <a routerLink="/" class="button button--secondary">Cancel</a>
              <button (click)="saveUser()" class="button button--primary" [disabled]="!userForm.valid">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- USER INFO - Deletion modal -->
<app-modal id="delete-modal">
  <h1 class="modal-title">Delete</h1>
  <p class="modal-text">Are you sure you want to delete this contact?</p>
  <div class="modal-buttons">
    <button (click)="closeModal('delete-modal');" class="button button--secondary">Cancel</button>
    <button (click)="userDelete(user); closeModal('delete-modal');" class="button button--primary">Delete</button>
  </div>
</app-modal>
