@import "abstracts/variables";
@import "abstracts/mixins";

.contact-item {
  width: 100%;
  border: 1px solid rgba(187, 196, 195, 0.4);
  border-radius: 4px;
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
  min-height: 60px;
  flex-direction: row;
  padding-left: 13px;
  padding-right: 16px;
  font-size: 17px;

  @include transition();

  @include query(md) {
    padding-top: 26px;
    padding-bottom: 23px;
    padding-left: 0;
    padding-right: 0;
    min-height: 152px;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    order: 1;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    border: 3px solid rgba(187, 196, 195, 0.3);
    margin-right: 25px;

    @include transition();

    @include query(md) {
      height: 66px;
      width: 66px;
      margin-bottom: 13px;
      margin-right: 0;
    }
  }

  &__icons {
    order: 3;
    margin-left: auto;
    color: $color-grey-2;
    display: flex;
    margin-top: 4px;

    @include query(sm) {
      position: absolute;
      justify-content: space-between;
      top: 15px;
      left: 17px;
      right: 17px;
      width: calc(100% - 34px);
      margin-top: 0;
    }

    & .icon-edit {
      margin-right: 33px;

      @include query(sm) {
        margin-right: 26px;
      }
    }
  }

  &__actions {
    @include query(sm) {
      display: none;
    }
  }

  &__favorite {
    margin-right: 33px;

    @include query(sm) {
      margin-right: 0;
    }
  }

  &__title {
    @include font-size($contact-title-mobile...);

    color: $color-grey-4;
    order: 2;

    @include query(sm) {
      @include font-size($contact-title...);
    }
  }

  &:hover {
    border: 1px solid $color-primary;

    & .contact-item__actions {
      display: block;
    }

    & .contact-item__image {
      transform: scale(1.1);
    }
  }
}
