<div class="contact-item">
  <div class="contact-item__icons">
    <div class="contact-item__favorite" (click)="toggleFavoriteUser($event)">
      <span class="icon-heart-empty" *ngIf="!user.favorite"></span>
      <span class="icon-heart-full" *ngIf="user.favorite"></span>
    </div>
    <div class="contact-item__actions">
      <span class="icon-edit push-left" [routerLink]="['/', 'contacts', 'edit', user.id]"></span>
      <span class="icon-delete" (click)="userDelete($event, user)"></span>
    </div>
  </div>

  <img [src]="user.avatar" class="contact-item__image" alt="" />

  <h4 class="contact-item__title">{{user.name}}</h4>
</div>
